* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: darkslategray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  color: aqua;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 18px;
}
nav ul li a:hover{
  background-color: aqua;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}
footer {
  align-content: center;
  text-align-last: center;

}
.content h2{
 font-size: 35px ;
 color: aqua;
 font-weight: 400;
}
.content p{
   font-size: 14px;
   color: aqua;
}
.content a{
  text-decoration: none;
  margin-top: 20px;
  font-size: 19px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 12px 20px;
  background-color: aqua;
  border-radius: 5px;
  color: grey;
}